body {
  background: radial-gradient(circle, #3b0000, #000);
  color: white;
  text-align: center;
  font-family: Arial Black, Arial, sans-serif;
}

#wheel-container {
  width: 420px;
  height: 420px;
  margin: 30px auto;
  position: relative;
}

#wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid gold;
  background: conic-gradient(
    red 0deg 45deg,
    green 45deg 90deg,
    red 90deg 135deg,
    green 135deg 180deg,
    red 180deg 225deg,
    green 225deg 270deg,
    red 270deg 315deg,
    green 315deg 360deg
  );
  transition: transform 4s cubic-bezier(.1,.7,.1,1);
}

#pointer {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
